#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:3000; overflow:visible; }
#cboxOverlay{position:fixed;width:100%;height:100%; background: #d9d9d9 url(images/overlay.png) repeat;/*background: url(images/bg-overlay.gif) repeat ;*/}
#cboxMiddleLeft,#cboxBottomLeft{clear:left;}
#cboxContent{position:relative;margin-top:20px; }
#cboxLoadedContent{position:relative; margin:5px; display: none; }
#cboxTitle{position:absolute;top:-20px;left:0;color:#ccc;margin:0;}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left;border:0;display:block;margin:auto;}
.cboxIframe{width:100%;height:100%;display:block;border:0;}
#cboxError{border:1px solid #ccc;padding:50px;}
#cboxCurrent{position:absolute;top:-20px;right:0;color:#ccc;}
#cboxSlideshow{position:absolute;top:-20px;right:90px;color:#fff;}
#cboxPrevious{position:absolute;top:50%;left:15px;margin-top:-32px;/*background:url(images/arrows.png) no-repeat top left;*/height:21px;width:10px;text-indent:-9999px;}
#cboxNext{position:absolute;top:50%;right:15px;margin-top:-32px;/*background:url(images/arrows.png) -42px 0 no-repeat;*/height:21px;width:10px;text-indent:-9999px;}

#cboxLoadingOverlay {display:none; position:absolute; top:0; left:0; width:100%; height:100%;}
    #cboxLoadingGraphic{height: 100px; display: block; margin: 25px;  ; border: 3px solid rgba(200, 200, 200, 0.6); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 10px 0px #999; -webkit-box-shadow: 0 0 10px 0px #999; box-shadow: 0 0 10px 0px #999; background : #fff url(images/Clock5_110x110.gif) no-repeat center center; min-height: 400px; }

#cboxClose{background: transparent url(images/close.png) no-repeat; z-index: 200; color: white; font-weight: 700; position: absolute; right: 15px; top: 15px; padding: 0; text-indent: -9999px; width: 33px; height: 33px;} 
.lightbox{width:500px; border: 3px solid rgba(200, 200, 200, 0.6); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 0 0 10px 0px #999; -webkit-box-shadow: 0 0 10px 0px #999; box-shadow: 0 0 10px 0px #999;}
    .lightbox .uiBox2{background:transparent;}
    .lbTop{/*width: 47px; height:4px; background: url(images/v3-sprite-lb.png) no-repeat 2px 0;*/}
    .lbMid{/*background: url(images/lbMid.png) repeat-y 0 0; padding: 30px 106px 20px 100px;*/background: #f5f5f5; min-height:150px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;}
    .lbBot{/*width: 47px; height:3px; background: url(images/v3-sprite-lb.png) no-repeat 3px -4px;*/}
    .lbPen{/*width: 121px; height:240px; background: url(images/v3-sprite-lb.png) no-repeat 0 -7px; position:absolute; bottom:-20px; left:-20px;*/}
    .lbLine{/*width: 391px; height:3px; background: url(images/lbLine.png) no-repeat 0 0;*/}
    .lightbox h3{height: 50px; line-height:50px; color: #333; width:485px; padding-left: 15px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f4f5), to(#e3e3e3)); background: -webkit-linear-gradient(top, #f5f4f5, #e3e3e3); background: -moz-linear-gradient(top, #f5f4f5, #e3e3e3); -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; border-bottom: 1px solid #c8c8c9; }
    .lightbox .lbMainBody h3{width: auto; background: transparent; height: auto; line-height: normal; padding: 0 0 15px 0;}
    .lightbox p{line-height:20px; color: #898989;}
    .lightbox p.lbDescTitle{color: #3065ae;}
    ul.lbOptions{}
    ul.lbOptions li:first-child{margin-top:0;}
    ul.lbOptions li{margin-top:10px;}
    ul.lbOptions li input[type=radio]{}
    ul.lbOptions li label{width:365px; color: #898989;}
    .lbHightlightMessage{border: 1px solid #e8e8e8; background: #fff;}
    .lbHightlightMessage p{color: #D77579; line-height:1;}
        .lbMainBody .lbLeftCol{width:170px;}
        .lbMainBody .lbRightCol{width:200px;}

    .lbContent .lbBody{padding: 0px 15px 15px 15px;}
    .lbContent .lbFooter{padding: 0px 15px 15px 15px;}
.w380{width:380px;}
.lbMainBody .w400{width:400px}
.lbMainBody input[type=text]{color: #808080; padding:5px;}
.lbMainBody textarea{height:50px; color: #808080; padding:5px;}
/*lbList*/        
.lbList{height:185px;}
.lbList .uiBox4{}
.lbList .uiBox4 .chkWrapper{height:50px; line-height:50px;}
.lbList .uiBox4 .imgWrapper{}
.lbList .uiBox4 .contentWrapper{}
.lbList .uiBox4 .contentWrapper .mainWrap{width:100px;}
.lbList .uiBox4 .contentWrapper .mainWrap p{}
        
/*
send message
*/
.frmSendMessage label {width:72px; color:#727272}
.frmSendMessage .inputWrapper .inputText{width:310px}
.frmSendMessage textarea{width:382px; height:80px;}
.lbMainBody .frmSendMessage textarea{width: 310px;}
.frmSendMessage li img{ margin-right:5px}
/*
 form register new school
*/
.frmregisterSchool label {color:#7a6e73; font-size:16px}
.frmregisterSchool textarea {width:320px; height:67px}

/*
mutual friends
*/
.mutualFriend ul{ width:392px; overflow:hidden; border-bottom:1px solid #90a8cd}
.mutualFriend ul .visu{width:64px}
.mutualFriend ul .nickname{width:245px; overflow:hidden}
/*
setting Feed
*/
.settingFeed ul{ width:392px; overflow:hidden}
.settingFeed ul .lbtext{width:96px; color:#5d5d5d}
.settingFeed ul .setting{width:293px}
.settingFeed ul .setting .borBlue{width:293px; background:#3065ae; padding:1px}
.settingFeed ul .setting .borBlue div{background:#fff;}
.settingFeed ul .setting .borBlue div p{padding:8px}
.settingFeed ul .setting .borBlue div p:hover{ background:#eaeff6}

/*
share link
*/
.shareLink select {*margin-top: 6px}
.shareLink .choose{width:157px;}
.shareLink .share{width:188px;}
.shareLink .inputWrapper .inputText{width:178px; height:32px}
.shareLink .inputWrapper .ipt30{width:176px;}
.shareLink .inputWrapper .textarea{width:380px}
.shareLink .share-links-infos-slider{float:left; margin-right:15px}
.shareLink .share-links-infos .content {width:275px; float:left}
.shareLink .share-links-infos .content p{margin-bottom:5px}
.shareLink .share-links-infos .content .bold{ font-weight:bold}

.scraper_img_nav {color:#c4c4c4; padding:0 0 0 50px}
.scraper_img_ckb {color:#333}

/**/
.lbAddFriend{}
.lbAddFriend .mainWrap{width: 290px;}
.lbAddFriend .lbTooltip{width:200px; background: #fff; top:-50px; left: 60px; z-index:1;}
.lbAddFriend .checkboxWrapper:hover .lbTooltip{display:block;}

.iPerson{background: #E4E4E4; border: 1px solid #B4B4B4; padding:5px;}

.iPerson{background: #E4E4E4; border: 1px solid #B4B4B4; padding:5px;}

.iwicPersonWrapper{width: 380px;}
.iwicPerson{}

.finalLightbox{overflow: hidden; width: 900px; background: #fff; border: 3px solid rgba(200, 200, 200, 0.6); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 10px 0px #999; -webkit-box-shadow: 0 0 10px 0px #999; box-shadow: 0 0 10px 0px #999;}
.finalLightbox .lbTitle .contentWrapper{width: 810px;}
.finalLightbox .lbMainContent{background: #f4f4f4;} 
.finalLightbox .lbMainContent img{max-width: 870px;}
.finalLightbox .lbMainContent .topicContent img{max-width: 400px;}
.finalLightbox .lbMainContent .contentWrapper{width: 650px;}   
.finalLightbox .lbMainContent .uiMediaThumb30 i{border: 1px solid #aeaeae; box-shadow: 0 0 4px #aeaeae; -moz-box-shadow: 0 0 4px #d4d4d4; -webkit-box-shadow: 0 0 4px #aeaeae;} 
.finalLightbox .lbMainContent .icon113{top: 0; left:0;}
.finalLightbox .lbMainContent .icon114{right: 0; bottom:0;}
.finalLightbox .lbBodyWrapper .lbLeftCol{width: 659px;}
.finalLightbox .lbBodyWrapper .lbRightCol{width: 240px;}
.finalLightbox .lbLeftCol .lbDesc{width: 633px;}
.finalLightbox .paginator{text-align:right;}
.finalLightbox .gTopicDetailCommentItem{border-top: 1px solid #C8C8C9;}
.finalLightbox .topicContent p{line-height: 16px;}
.finalLightbox .flipBackWrapper {margin: 10px 0; border: 1px solid #c1cfdd; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 212px;}
.finalLightbox .flipBackWrapper .messageFlipBack {margin-top: 10px;}
.finalLightbox .textareaWrapper textarea{width: 548px; min-height: 40px; max-width: 548px;}
.finalLightbox .flipBackWrapper textarea{width: 180px;}
.finalLightbox .flipBackWrapper {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px }
.finalLightbox .flipBackWrapper .evilBackground{width: 212px;}

.finalLightbox.direct{border: 0px; margin: 0; ;-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; background: transparent; width: 959px;}
.finalLightbox.direct .lbTitle .contentWrapper{width: 700px;}
.finalLightbox.direct .lbMainContent .contentWrapper{width: 710px;}
.finalLightbox.direct .lbBodyWrapper .lbLeftCol{width: 715px;}  
.finalLightbox.direct .lbLeftCol .lbDesc{width: 690px;}
.finalLightbox.direct .textareaWrapper{width: 627px;}
.finalLightbox.direct .textareaWrapper textarea{width: 606px; min-height: 40px; max-width: 606px;}
.finalLightbox.direct .lbBodyWrapper .lbRightCol{}
.finalLightbox.direct .gTopicDetailCommentItem .contentWrapper .mainWrap{width: 493px;}

.finalLightbox .gTopicDetailListComment .subCWrapper .uiMentionsInput .highlighter {top: 7px; left: 10px; line-height:18px; font-size: 12px; font-family: Arial;}
.finalLightbox .gTopicDetailListComment .subCWrapper .uiMentionsInput .highlighter b {font-size: 12px; font-family: Arial;}

.finalLightbox .lbLeftCol.lightboxMessage{width: 900px;}
.finalLightbox .lbLeftCol.lightboxMessage .textareaWrapper textarea {width: 790px; max-width: 790px;}
.finalLightbox .lbLeftCol.lightboxMessage .uiBox4 .contentWrapper .mainWrap{width: 677px;} 
#cboxLoadedContentInner .photoDetailWrapper .w400{width: 550px;}
#cboxLoadedContentInner .photoDetailWrapper .w319{}

#bootloader_colorbox { height: 42px }



